@charset "UTF-8";
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-Light.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}
img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}
body {
    min-width: 320px;
    font-size: 18px;
    line-height: 1;
    font-family: 'MuseoSansCyrl', 'RobotoSlab', 'Arial', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1057px;
    padding: 0px 15px;
    margin: 0 auto;
}
.visually-hidden {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}
.header {
    z-index: 2;
}
.header::before {
    content: '';
    width: 100%;
    height: 102px;
    background-color: #3c3a39;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}
.header__wrap {
    display: flex;
    align-items: center;
}
.header__navigation {
    flex-grow: 0.66;
}
.navigation__item {
    flex-grow: 1;
}
.navigation__list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.navigation__link {
    color: #ffffff;
    font-family: "RobotoSlab";
    font-size: 16px;
    text-decoration: none;
    display: block;
    transition: 0.6s;
}
.navigation__link:hover {
    color: #cb7b5e;
}
.header__logo {
    width: 211px;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #3c3a39;
    border-radius: 50%;
    padding-top: 16px;
}
.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts a,
.contacts__separator {
    color: #cb7b5e;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
}
.contacts a:hover {
    text-decoration: underline;
}
.contacts__separator {
    
    margin: 0px 13px;
}
.index-banner {
    min-height: 884px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 146px;
    margin-top: -183px;
}
.index-banner__wrap {
    padding-top: 60px;
}
.index-banner__text-big {
    text-shadow: 0 0 21px rgba(255, 255, 255, 0.22);
    color: #3c3a39;
    font-weight: 900;
    font-size: 72px;
    text-transform: uppercase;
}
.index-banner__text-min {
    text-shadow: 0 0 21px rgba(255, 255, 255, 0.22);
    color: #3c3a39;
    font-family: "RobotoSlab";
    font-size: 48px;
    text-transform: uppercase;
}
.index-banner__link {
    color: #cb7b5e;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-decoration: none;
    display: inline-flex;
    border-bottom: 1px solid #cb7b5e;
    margin-bottom: 25px;
}
.index-banner__link::before {
    content: '';
    width: 258px;
    height: 258px;
    background-color: #f4d8cd;
    border-radius: 50%;
    opacity: 0.57;
    position: absolute;
    top: 50%;
    left: calc(100% + 9px);
    transform: translateY(-50%)
}
.index-banner__description {
    display: flex;
    flex-direction: column;
}
.index-banner__description::before {
    content: '';
    width: 396px;
    height: 78px;
    background-image: url('../img/line.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: calc(100% + 7px);
    left: -177px;
}

.services {
    background-color: #555555;
    padding-bottom: 72px;
}
.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0px -15px;
}
.services__item {
    width: calc(100% / 2 - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 15px;
}
.custom-title h2 {
    color: #cb7b5e;
    font-family: 'RobotoSlab';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0px 0 50px;
    padding-top: 72px;

}